@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.Clients-pm {
    position: relative;
    z-index: 99999999;
    background: #fff;
    height: auto;
    margin: 0 auto;
    padding-bottom: 80px;
}

.bg-gray {
    position: relative;
    z-index: 99999999;
    background: #F9F9F9;
    height: auto;
    margin: 0 auto;
    padding-bottom: 80px;
}

.container-clients {
    display: grid !important;
    padding: 100px 0px 0px 0px;
    grid-template-columns: repeat(7, 1fr);
}

.title-client {
    grid-column: 2/3;
    display: flex;
}

.info-clients {
    grid-column: 1/5;
    display: flex;
    justify-content: center;
}

.info-clients h2 {
    width: 301px;
    color: #32711E;
    font-family: 'Amble-bold';
    font-size: 50px;
    margin-bottom: 30px;
}

.info-clients span {
    font-family: 'Amble-bold';
    font-size: 30px;
    color : #8DB72E;
}

.info-clients p {
    font-family: 'Amble-light';
    font-size: 14px;
    color : #4D4D4C;
    margin-top: 30px;
    width: 301px;
}

.title-client h4 {
    width: 270px;
    font-family: Amble;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #005286;
}

.title-client p {
    margin-top: 20px;
    font-family: 'Amble-light';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #4D4D4D;
}

.img-clients_pm  {
    grid-column: 3/8;
}

.prs-clients {
    position: relative;
    grid-column: 5/7;
    display: flex;
}

.footer-client_main h6 {
    margin-top: 40px;
    color: #4D4D4C;
    font-family: 'Amble-light';
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-client_main span {
    position: relative;
    color: #4D4D4C;
    font-family: 'Amble-bold';
    font-size: 10px;
}

.types-clients {
    margin-top: 20px;
}

.types-clients svg {
    position: relative;
    z-index: 1;
    margin-left: 15px;
}

.client-slick .slick-track .img-clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.client-slick .slick-track .img-clients .img-client_slick{
    border-radius: 50%;
    display: flex;
    width: 172px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 162px;
    margin-bottom: 20px;
    filter: drop-shadow(0px 2.86917px 14.3458px rgba(216, 216, 216, 0.2));
}

.client-slick .slick-next {
    right: 60px !important;
    z-index: 10000 !important;
}

.client-slick .slick-prev {
    left: 25px !important;
    z-index: 10000 !important;
}

.client-slick .slick-next::before, .client-slick .slick-prev::before {
    color: #fff !important;
    padding: 0px 20px;
    background: rgba(0, 159, 227, 0.6);
    border-radius: 50%;
    font-size: 40px;
    opacity: 1 !important;
    line-height: 100px;
    font-family: 'Poppins';
}

.client-slick .slick-prev::before {
    content: '<';
}

.client-slick .slick-next::before {
    content: '>';
}

.client-slick  {
    color: rgba(0, 159, 227, 0.6) !important;
    font-size: 50px;
    opacity: 1 !important;
}

.container-form_contact {
    display: grid;
    margin: 0 auto;
    background: #fff;
    align-items: center;
    grid-template-columns: repeat(9,1fr);
    padding-top: 50px;
}

.form-contact {
    grid-column: 2/5;
}

.form-contact h2 {
    color: #32711E;
    font-family: 'Amble-bold';
    font-size: 50px;
}

.input {
    width: 100%;
    display: block;
    margin-top: 25px;
}

.input input, .input textarea {
    padding: 12px 25px;
    border-radius: 30px;
    width: 100%;
    border: 1px solid #C4C4C4;
    font-family: 'Amble';
    outline: none;
    color: #4d4d4d;
}

.input label {
    padding: 17px 25px;
    border-radius: 30px;
    width: 100%;
    border: 1px solid #005286;
    font-family: 'Amble';
    outline: none;
    color: #005286;
    position: absolute;
    right: 0;
    font-size: 14px;
    top: 0px;
}

.upload {
    display: none;
}

.uploader {
    padding: 12px 20px;
    border-radius: 30px;
    width: 100%;
    border: 1px solid #C4C4C4;
    font-family: 'Amble';
    outline: none;
    min-height: 53px;
    font-size: 14px;
    color: #A0A0A0;
    display: flex;
}

.uploader .input-value{
    width: 100%;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

textarea {
    border-radius: 20px;
    resize: none;
}

.input input::placeholder, .input textarea::placeholder {
    font-family: 'Amble-light';
}

.conditions {
    font-family: 'Amble-light';
    color: rgba(77, 77, 76, 0.6);
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.conditions p {
    margin-left: 10px;
}

.conditions input {
    margin-left: 10px;
}

.btn-send {
    margin-top: 30px;
    margin-bottom: 40px;
}

.btn-send button {
    font-family: 'Amble-bold';
    background: #32711E;
    padding: 10px 40px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

.footer-contact {
    position: relative;
    background: #D6E3D2;
    padding: 40px;
    overflow: hidden;
}

.marker-contact {
    grid-column: 2/5;
    display: flex;
    justify-content: center;
}

.call-contact {
    grid-column: 5/7;
    display: flex;
    justify-content: center;
}

.flx {
    display: flex;
    align-items: center;
    font-family: 'Amble-bold';
    font-size: 14px;
}

.flx p {
    color: #32711E;
    margin-left: 20px;
}

.flx span {
    color: rgba(77, 77, 76, 0.6);
    margin-left: 20px;
    font-family: 'Amble-light';
}

.new-tree {
    position: absolute;
    top: -100px;
    left: 0;
}

.new-tree img {
    width: 200px;
}