@font-face {
    font-family: 'Amble';
    src: url('../fonts/Amble-Regular.ttf');
}

@font-face {
    font-family: 'Amble-Light';
    src: url('../fonts/Amble-Light.ttf');
}

@font-face {
    font-family: 'Amble-Bold';
    src: url('../fonts/Amble-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F9F9F9;
    position: relative;
}

.container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    background: #FFFFFF;
    padding-bottom: 80px;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
