@font-face {
    font-family: 'Amble';
    src: url('../fonts/Amble-Regular.otf');
}

@font-face {
    font-family: 'Amble-Light';
    src: url('../fonts/Amble-Light.otf');
}

@font-face {
    font-family: 'Amble-Bold';
    src: url('../fonts/Amble-Bold.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F9F9F9;
    position: relative;
}

.container-header {
    position: fixed;
    z-index: 9999999;
    width: 100%;
}

.container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    background: #FFFFFF;
    padding-bottom: 80px;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.MuiFormControl-root {
    width: 100%;
}

.MuiInput-underline:before , .MuiInput-underline:after{
    border: none !important;
}

.MuiFormControl-marginNormal {
    margin: 0 !important;
}

.MuiInputAdornment-root {
    position: absolute;
    right: 0;
}

.MuiInputBase-input {
    height: auto !important;
}

.css-26l3qy-menu {
    z-index: 999999 !important;
}

.Map{
    display: block;
}

button.gm-control-active, .gm-svpc, .gm-style-mtc, a div img {
    display: none;
}

.gmnoprint div {
    background: transparent !important;
}

.info-container > div > div > div > div > div  {
    border-radius: 50px
}

.content-login {
    flex-direction: column;  
}

.copy-socials.movil {
    display: none;
}

@media screen and (max-height: 1064px) and (max-width: 491px) {
    .home .container-known .info-known {
        grid-column: 1/8 !important;
        justify-content: flex-start;
        margin-left: 35px !important;
    }
    .Home .content-slick-home {
        height: 95vh !important;
    }
    .container-grid.clients-page .info-clients  {
        margin-left: 35px !important;
        padding-bottom: 128px !important;
        grid-column: 1/8 !important;
    }
    .container-clients .title-client {
        grid-column: 1/8 !important;
        margin-left: 35px !important;
    }
    .container-grid.clients-page .info-clients h2 {
        font-size: 22px !important;
    }
    .container-grid.clients-page .info-clients p {
        max-width: 400px !important;
    }
    .container .container-grid.clients-page .info-client-footer {
        margin-left: 35px !important;
    }
    .container .container-grid.clients-page .info-client-footer p {
        max-width: 400px !important;
    }
    .Known-pm.home .products-known {
        grid-column: 1/8 !important;
        justify-content: flex-start;
    }
    .home .container-known .info-known h3 {
        width: 232px !important;
        line-height: 25px !important;
    }
    .home .container-known .info-known p ,.bioform-pm p, .line-products_pm p, .material-pm p, .use-app_pm p {
        font-size: 14px !important;
    }
    .bioform-pm p, .line-products_pm p, .material-pm p, .use-app_pm p {
        top: 80px !important;
    }
    .square-sl-sbl,.square-distributor ,.container-known_video .play-known .square ,.tablet .container-news .square-slick , .wc .square-carbajal 
    ,.card-about .square.us ,.container-grid .play-known .square{
        max-width: 380px;
        max-height: 280px;
        border-radius: 30px !important;
        left: -20px !important;
    }
    .img-video_known .img img ,.img-video_known .img::after {
        border-radius: 30px !important;
    }
    .post-sl-sbl .square-sl-sbl {
        left: 20px !important;
        top: 60px;
    }
    .container .container-grid.why .play-button_pm {
        top: 250px !important;
        right: 40px !important;
    }
    .container-grid.first .square-img-card {
        max-width: 380px !important;
        max-height: 280px;
        left: 20px !important;
    }
    .container-grid .play-known .square {
        left: 20px !important;
    }
    .container-grid.pet .info-pet-sbl {
        margin-left: 35px !important;
    }
    .wc .square-carbajal  {
        transform: rotate(-9.08deg) !important;
        top: 30px;
    }
    .About-us_pm .card-about .square.us {
        top: -38px;
        width: 300px !important;
        border-radius: 30px !important;
        left: -20px !important;
    }
    .flex-pet-sbl {
        flex-wrap: wrap;
        text-align: left !important;
    }
    .info-pet-sbl {
        right: 0px !important;
    }
    .flex-pet-sbl > div {
        padding: 10px;
        margin-left: 0px !important;
    }
    .container .container-grid.work .info-new_slick {
        margin-left: 35px !important;
    }
    .container-grid.why .play-known .square {
        left: 20px !important;
    }
    .container-grid.tonel .info-container , .container-grid.first .info-container ,
    .container-grid.community .info-container,.container-grid.information .certifications-companies {
        grid-column: 1/8 !important;
        margin-left: 35px !important;
    }
    .container-grid.information .certifications-companies .info-container {
        right: 0 !important;
    }
    .container-grid.information .certifications-companies .info-container p {
        font-size: 14px !important;
        max-width: 400px !important;
    }
    .container-grid.work .card-work {
        max-width: 400px !important;
    }
    .container-grid.work .slick-slide img {
        width: 100%;
    }
    .container-grid.elipse h6 {
        margin-top: 30px !important;
        font-size: 22px !important ;
        max-width: 300px;
        margin: 0 auto;
    }
    .container-grid.elipse p {
        max-width: 400px;
        margin: 0 auto;
    }
    .container-grid.elipse .play-known.elipse .square {
        left: 25px !important;
    }
    .container-grid.information .play-known.info .square {
        left: 20px !important;
    }
    .container-grid.information .certifications-companies {
        justify-content: flex-start !important;
    }
    .container-grid.elipse .info-container.question ,.container-grid.elipse .box-container.question {
        grid-column: 1/8 !important;
        margin-left: 35px !important;
        justify-content: flex-start !important;
    }
    .container-grid.elipse .box-container.question {
        max-width: 380px !important;
    }
    .card-work {
        margin-left: 0px !important;
        max-width: 400px !important;
    }
    .post-pet-sbl.activity .img-new_slick.activity {
        max-width: 300px !important ;
        max-height: 400px !important;
        left: 0px !important;
    }
    .post-pet-sbl.activity .square-pet-sbl.activity {
        max-width: 300px !important ;
        max-height: 400px !important;
    }
    .container-grid.videos .slick-list .square-pet-sbl.activity {
        top: 50px !important;
        left: 40px !important;
    }
    .flex-pet-sbl > div > div {
        margin-bottom: 30px !important;
    }
    .container-grid.videos  {
        padding-top: 0px !important;
    }
    .container-grid.videos .new-slick.work.activity .info-post-activity {
        grid-row: 1/2 !important;
    }
    .container-grid.videos .new-slick.work.activity .slick-slide > div > div { 
        display: block !important;
        margin-left: 0px !important;
    }
    .container-grid.videos .play-button_pm.activity {
        left: 250px !important;
        top: 300px !important;
    }
    .img-about_us .img img ,.img-about_us .img::after{
        border-radius: 30px !important;
    }
    .About-us_pm .img-about_us .img::after {
        max-width: 380px;
        height: 100% !important;
    }
    .info-about h3 {
        font-size: 16px !important;
        font-family: 'Amble-Bold';
    }
    .Certifications .info-certifications , .Certifications .certifications-companies ,.container-news .info-new_slick {
        grid-column: 1/8 !important;
        margin-left: 35px !important;
    }
    .Certifications .certifications-companies .companies_us {
        margin-bottom: 0px !important
    }
    .container-news .info-new_slick h6, .container-news .info-new_slick p {
        margin-top: 8px !important;
        margin-bottom: 0px !important;
        max-width: 400px !important;
    }
    .img-values {
        padding: 25px !important;
    }
    .img-values div{
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
    h6.title-values {
        font-size: 22px !important;
        font-family: 'Amble-Bold';
        margin-left: 35px;
        justify-content: flex-start;
    }
    .Mision-vision_pm .info-vision, .Mision-vision_pm .info-mision, .Mision-vision_pm .info-promise_value,
    .Mision-vision_pm .info-propose, .Mision-vision_pm .square-mision, .Mision-vision_pm .square-vision, .Mision-vision_pm .square-promise_value,.Mision-vision_pm .square-propose {
        width: 340px !important;
    }
    .card-about .img-about_us {
        left: 0px !important;
    }
    .container-informations {
        padding-bottom: 50px !important;
    }
    .container-known_video .play-known .square {
        left: -35px !important;
    }
    .play-button_pm {
        top: 140px !important;
        right: -50px !important;
    }
    .bioform-pm::after, .line-products_pm::after, .material-pm::after, .use-app_pm::after {
        height: 100% !important;
    }
    .bioform-pm a, .line-products_pm a, .material-pm a, .use-app_pm a {
        display: flex;
        justify-content: center;
    }
    .img-card, .square-img-card.right-up,.News-pm_us .img-new_slick_us,.News-pm_us .img-new_slick,.img-distributor  ,.img-video_known .img ,.tablet .img-new_slick ,.img-carbajal.about ,.card-about .img-about_us {
        max-width: 380px !important;
        max-height: 280px !important;
    }
    .News-pm_us .new-slick.plant.tablet .img-new_slick ,.container-news .img-new_slick_us {
        left: -10px !important;
    }
    .new-slick.plant.tablet .square-slick {
        top: 60px !important;
        left: -40px !important;
    }
    .container-news .post-new_slick_us {
        margin-top: 0px !important;
    }
    .img-card img ,.etic .square-img-card.right-up {
        border-radius: 30px !important;
    }
    .page-new {
        overflow: hidden;
    }
    .Map_pm .img-map_pm {
        grid-column: 1/11 !important;
    }
    .Map_pm .img-map_pm img {
        max-width: 70% !important;
    }
    .title-white-container h6 {
        font-size: 22px !important;
    }
    .etic-pro .info-container {
        grid-column: 1/8 !important;
        margin-left: 35px !important;
    }
    .container-grid.sbl .info-pm {
        margin-left: 35px !important;
    }
    .etic-pro .info-container p {
        font-size: 12px !important;
    }
    .container-grid .etic .square-img-card.right-up {
        right: 17% !important;
    }
    .Footer-news_us .info-footer_news_us p {
        max-width: 400px !important;
    }
    .Footer-news_us .info-footer_news_us ,.container-grid.why .info-pm{ 
        grid-column: 1/8 !important;
        margin-left: 35px;
    }
    .About-us_pm .info-about p ,.container-grid.why .info-pm p {
        max-width: 400px !important;
    }
    .container-grid.why .square {
        left: 20px !important;
        border-radius: 30px !important;
    }
    .img-carbajal.about {
        margin-left: 50px !important;
    }
    .img-distributor img, .img-video_known .img img {
        max-height: 280px !important;
    }
    .Known-pm.home .container-products_pm img  {
        max-width: 184px !important;
        max-height: 144px !important;
        border-radius: 20px !important;
    }
    .line-products_pm::after {
        height: 100% !important;
        top: 2px !important;
    }
    .info-known_our h4 ,.info-pm h6 ,.info-post-activity p{
        font-size: 22px !important;
    }
    .material-pm::after {
        height: 97% !important;
        top: 2px !important;
    }
    .home .products-known {
        margin-top: 30px;
    }
    .home .container-products_pm {
        margin-left: 35px !important;
        grid-gap: 30px !important;
    }
    .home .container-title-new h6 {
        grid-column: 1/7 !important;
    }
    .home .container-known {
        padding-bottom: 40px !important;
    }
    .container-products_business svg {
        width: 79px !important;
        height: 79px !important;
        margin: 0 !important;
    }
    .container-products_business p {
        font-size: 13px !important;
    }
    .Known-pm.home .container-products_business div {
        margin-left: 18px !important;
        text-align: center;
    }
    .Known-pm div .know-lines {
        margin-left: 20px !important;
    }
    .Known-pm.home .container-products_business  {
        margin-left: 15px !important;
        width: 100% !important;
        grid-column: 1/8 !important;
        margin-top: 30px !important;
    }
    .container-informations .info-carbajal.about ,.container-informations .info-map_pm.title, .About-us_pm .info-about{
        margin-left: 35px;
        width: 100% !important;
        grid-column: 1/8 !important;
    }
    .Certifications .container-news .img-new_slick {
        left: 0px !important;
    }
    .info-carbajal.about p {
        max-width: 400px !important;
    }
    .container-informations.present {
        padding-bottom: 0px !important;
    }
    .container-grid_img {
        margin-top: 20px !important;
    }
    .container-informations .info-map_pm.title span {
        font-size: 18px !important;
        line-height: 20px !important;
    }
    .container-informations .info-map_pm.title h6 ,.info-container .title-green-dark-container h6 {
        font-size: 22px !important;
    }
    .bioform-pm::after, .line-products_pm::after, .material-pm::after, .use-app_pm::after {
        border-radius: 20px !important;
    }
    .container-title-new h6 {
        grid-column: 1/8 !important;
        font-size: 22px !important;
        width: 204px !important;
    }
    .info-known h3 {
        font-size: 22px !important;
    }
    .options-pm-rs {
        grid-column: 10/16 !important;
        justify-content: flex-end !important;
        margin-right: 15px !important;
    }
    .close-movil {
        position: relative;
        top: -6px;
        left: 2px;
    }
    .container-header-rs .Logo-pm ,.img-carbajal.about{
        grid-column: 1/8 !important;
    }
    .info-slick {
        top: 700px !important;
        left: 20px !important;
        transform: rotate(19deg) !important;
    }
    .info-slick h2 {
        font-size: 30px !important;
        width: 223px !important;
    }
    .info-slick p {
        font-size: 14px !important;
    }
    .Rotate-slick.s-1784208310::after, .s-1784208310 .Rotate-slick::after {
        min-height: 15% !important;
        background-size: unset !important;
        min-width: 90% !important;
    }
    .Rotate-slick::before {
        left: -23px !important;
        height: 146vh !important;
        background-color: rgba(0, 82, 134, 0.3) !important;
        transform: rotate(19deg) !important;
    }
    .Rotate-slick.s-1784208310, .s-1784208310 .Rotate-slick {
        height: 87vh !important;
        left: -80px !important;
        top: -380px !important;
        transform: rotate(-19deg) !important;
        border-radius: 60px !important;
    }
    .Rotate-slick::after {
        height: 85vh !important;
        left: -42px !important;
        background-size: unset !important;
        transform: rotate(19deg) !important;
    }
    .Radius {
        height: 80vh !important;
        left: -110px !important;
        transform: rotate(-19deg) !important;
        border-radius: 60px !important;
    }
    .tree-pm.banner img {
        top: 140px !important;
        left: -50px !important;
        width: 150px !important;
    }
    .content-slick-home {
        height: 85vh !important;
    }
    .container-distributor .info-distributor_hm, .container-distributor .img-distributor_hm {
        grid-column: 1/8 !important;
    }
    .container-distributor .info-distributor_hm h3 {
        font-size: 22px !important;
    }
    .companies_us .img-company-sgs ,.companies-second_us .img-company-gp ,.companies-second_us .img-company-gpl ,.companies-second_us .img-company-gpw ,.companies_us .img-company-abe, .companies-second_us .img-company-abe {
        width: 57px !important;
        height: 56px !important;
        margin-right: 20px !important;
    }
    .companies_us .img-company-brc {
        width: 78px !important;
        height: 77px !important;
        top: 10px !important;
    }
    .container-clients {
        padding-top: 50px !important;
    }
    .Clients-pm .slick-track .img-clients .img-client_slick {
        width: 98px !important;
        height: 98px !important;
    }
    .Home {
        overflow:  hidden !important;
    }
    .Clients-pm {
        overflow-y:  hidden !important;
    }
    .client-slick .slick-slide .img-client_slick img {
        width: 45px !important;
    }
    .container-news .img-new_slick_us::after {
        height: 100% !important;
    }
    .container-news .img-new_slick_us img {
        height: 100% !important;
    }
    /* Header */
    .header-rs {
        position: fixed !important;
    }
    /* Titulos */
    .info-certifications h6 ,.info-new_slick h4,.title-client h4 ,.info-footer_news_us h6,.Container-sb_pm h2 {
        font-size: 22px !important;
    }
    .info-certifications span ,.info-new_slick h6, .certifications-companies h6.companies-title, .certifications-companies h6.companies-title_second,
    .info-footer_news_us div.span {
        font-size: 16px !important;
    }
    .info-certifications p ,.info-new_slick p{
        font-size: 12px !important;
    }
    /* Banners */ 
    .Slicks-pm.Us .Radius.Us {
        height: 40vh !important;
        border-radius: 60px !important;
        background: #D1EBFC !important;
        left: -40px !important;
        top: -240px !important;
        transform: rotate(-15deg) !important;
    }
    .Slicks-pm .info-slick.Us {
        top: 850px !important;
    }
    .img-footer_new_us svg ,.Container-sb_pm .header-title p {
        max-width: 400px !important;
    }
    .Container-sb_pm {
        padding-top: 20px !important;
    }
    .container-grid .title-container {
        grid-column: 1/8 !important;
        margin-left: 35px !important;
        font-size: 22px !important;
    }
    .container-grid .info-informs ,.informs-pdfs {
        grid-column: 1/8 !important;
        margin-left: 35px !important;
    }
    .informs-pdfs {
        margin-top: 40px !important;
    }
    .info-informs h2 ,.info-sbl h4{
        font-size: 22px !important;
    }
    .info-informs p {
        max-width: 400px !important;
    }
    .container-grid .info-sl-sbl {
        padding: 0px !important;
        margin-left: 30px !important;
        justify-content: flex-start;
    }
    .info-sl-sbl p {
        max-width: 400px !important;
    }
    .box-informs-pdf {
        width: 90% !important;
    }
    .objetives {
        justify-content: center !important;
    }
    .objectives-sosten {
        margin: 30px 10px !important;
    }
    .models-sb {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .Container-sb_pm .header-title p {
        text-align: left !important;
    }
    .info-slick p, .info-slick_us p, .info-slick_sb p, .info-slick_wwu p, .info-slick_clts p, .info-slick_news p {
        font-family: 'Amble-Bold' !important;
        width: 267px !important;
    }
    .Rotate-slick.Us {
        border-radius: 60px !important;
        top: -680px !important;
        left: -100px !important;
        transform: rotate(-19deg) !important;
        height: 102vh !important;
    }
    .Rotate-slick.Us::after {
        transform: rotate(19deg) !important;
        left: -450px !important;
        top: 440px !important
    }
    /* Footer */
    .container-footer, .copy-socials {
        padding: 0px !important;
        margin-bottom: 0px !important;
    }
    .copy-socials {
        flex-direction: row-reverse;
    }
    .copy-socials .copy-right div.span {
        display: none;
    }
    .Footer-pm .logo {
        margin-bottom: 40px;
        padding: 20px 10px !important;
        border-bottom: 1px solid #a8a8a8;
    }
    .Footer-pm .declaration , .Footer-pm .information ,.Footer-pm .contact{
        margin-bottom: 23px !important;
        border-bottom: 1px solid #a8a8a8;
        padding: 10px 10px;
    }
    .Footer-pm hr {
        display: none;
    }
    .container-footer .title ,.container-footer h6 {
        width: 100% !important;
    }
    .contact .info-contact div, .declaration .info-contact div, .information .info-contact div {
        margin-top: 10px !important;
    }
    .Footer-pm .logo , .Footer-pm .declaration , .Footer-pm .information , .Footer-pm .contact{
        grid-column: 1/10 !important;
        justify-content: flex-start !important;
    }
    .copy-socials.movil {
        display: block;
        text-align: center;
    }
    .copy-socials.desktop {
        display: none;
    }
    .copy-socials.movil .copy-right {
        justify-content: center !important;
        padding: 0px 0px 10px 0px;
        border-bottom: 1px solid #a8a8a8;
    }
    .copy-socials.movil .copy {
        padding: 20px;
    }
}