@font-face {
    font-family: 'Amble';
    src: url('../fonts/Amble-Regular.otf');
}

@font-face {
    font-family: 'Amble-Light';
    src: url('../fonts/Amble-Light.otf');
}

@font-face {
    font-family: 'Amble-Bold';
    src: url('../fonts/Amble-Bold.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F9F9F9;
    position: relative;
}

.container-header {
    position: fixed;
    z-index: 9999999;
    width: 100%;
}

.container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    background: #FFFFFF;
    padding-bottom: 80px;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.MuiFormControl-root {
    width: 100%;
}

.MuiInput-underline:before , .MuiInput-underline:after{
    border: none !important;
}

.MuiFormControl-marginNormal {
    margin: 0 !important;
}

.MuiInputAdornment-root {
    position: absolute;
    right: 0;
}

.MuiInputBase-input {
    height: auto !important;
}

.css-26l3qy-menu {
    z-index: 999999 !important;
}

.Map{
    display: block;
}

button.gm-control-active, .gm-svpc, .gm-style-mtc, a div img {
    display: none;
}

.gmnoprint div {
    background: transparent !important;
}

.info-container > div > div > div > div > div  {
    border-radius: 50px
}

.content-login {
    flex-direction: column;  
}

@media screen and (max-height: 1024px) and (max-width: 491px) {
    .home .container-known .info-known {
        grid-column: 1/8 !important;
        justify-content: flex-start;
        margin-left: 35px !important;
    }
    .Home .content-slick-home {
        height: 95vh !important;
    }
    .Known-pm.home .products-known {
        grid-column: 1/8 !important;
        justify-content: flex-start;
    }
    .home .container-known .info-known h3 {
        width: 232px !important;
        line-height: 25px !important;
    }
    .home .container-known .info-known p ,.bioform-pm p, .line-products_pm p, .material-pm p, .use-app_pm p {
        font-size: 14px !important;
    }
    .bioform-pm p, .line-products_pm p, .material-pm p, .use-app_pm p {
        top: 80px !important;
    }
    .square-distributor ,.container-known_video .play-known .square ,.tablet .container-news .square-slick {
        max-width: 380px;
        max-height: 280px;
        left: -20px !important;
    }
    .container-known_video .play-known .square {
        left: -35px !important;
    }
    .play-button_pm {
        top: 140px !important;
        right: -50px !important;
    }
    .bioform-pm::after, .line-products_pm::after, .material-pm::after, .use-app_pm::after {
        height: 97% !important;
    }
    .bioform-pm a, .line-products_pm a, .material-pm a, .use-app_pm a {
        display: flex;
        justify-content: center;
    }
    .img-distributor  ,.img-video_known .img ,.tablet .img-new_slick{
        max-width: 380px;
        max-height: 280px;
    }
    .img-distributor img, .img-video_known .img img {
        max-height: 280px !important;
    }
    .Known-pm.home .container-products_pm img  {
        max-width: 204px !important;
        max-height: 164px !important;
        border-radius: 20px !important;
    }
    .line-products_pm::after {
        height: 97% !important;
        top: 2px !important;
    }
    .info-known_our h4 {
        font-size: 22px !important;
    }
    .material-pm::after {
        height: 97% !important;
        top: 2px !important;
    }
    .home .products-known {
        margin-top: 30px;
    }
    .home .container-products_pm {
        margin-left: 35px !important;
        grid-gap: 30px !important;
    }
    .home .container-title-new h6 {
        grid-column: 1/7 !important;
    }
    .home .container-known {
        padding-bottom: 40px !important;
    }
    .container-products_business svg {
        width: 79px !important;
        height: 79px !important;
        margin: 0 !important;
    }
    .container-products_business p {
        font-size: 13px !important;
    }
    .Known-pm.home .container-products_business div {
        margin-left: 18px !important;
        text-align: center;
    }
    .Known-pm div .know-lines {
        margin-left: 20px !important;
    }
    .Known-pm.home .container-products_business {
        margin-left: 15px !important;
        width: 100% !important;
        grid-column: 1/8 !important;
        margin-top: 30px !important;
    }
    .bioform-pm::after, .line-products_pm::after, .material-pm::after, .use-app_pm::after {
        border-radius: 20px !important;
    }
    .container-title-new h6 {
        grid-column: 1/8 !important;
        font-size: 22px !important;
        width: 204px !important;
    }
    .info-known h3 {
        font-size: 22px !important;
    }
    .options-pm-rs {
        grid-column: 10/16 !important;
        justify-content: flex-end !important;
    }
    .container-header-rs .Logo-pm {
        grid-column: 1/8 !important;
    }
    .info-slick {
        top: 600px !important;
        left: 20px !important;
        transform: rotate(19deg) !important;
    }
    .info-slick h2 {
        font-size: 30px !important;
        width: 223px !important;
    }
    .info-slick p {
        font-size: 14px !important;
    }
    .Rotate-slick.s-1784208310::after, .s-1784208310 .Rotate-slick::after {
        min-height: 15% !important;
        background-size: unset !important;
        min-width: 90% !important;
    }
    .Rotate-slick::before {
        left: -20px !important;
        height: 146vh !important;
        background-color: rgba(0, 82, 134, 0.3) !important;
        transform: rotate(19deg) !important;
    }
    .Rotate-slick.s-1784208310, .s-1784208310 .Rotate-slick {
        height: 87vh !important;
        left: -80px !important;
        top: -380px !important;
        transform: rotate(-19deg) !important;
        border-radius: 60px !important;
    }
    .Rotate-slick::after {
        height: 85vh !important;
        left: -40px !important;
        background-size: unset !important;
        transform: rotate(19deg) !important;
    }
    .Radius {
        height: 80vh !important;
        left: -110px !important;
        transform: rotate(-19deg) !important;
        border-radius: 60px !important;
    }
    .tree-pm.banner img {
        top: 140px !important;
        left: -50px !important;
        width: 150px !important;
    }
    .content-slick-home {
        height: 85vh !important;
    }
    .container-distributor .info-distributor_hm, .container-distributor .img-distributor_hm {
        grid-column: 1/8 !important;
    }
    .container-distributor .info-distributor_hm h3 {
        font-size: 22px !important;
    }
    .companies_us .img-company-sgs ,.companies-second_us .img-company-gp ,.companies-second_us .img-company-gpl ,.companies-second_us .img-company-gpw ,.companies_us .img-company-abe, .companies-second_us .img-company-abe {
        width: 57px !important;
        height: 56px !important;
        margin-right: 20px !important;
    }
    .companies_us .img-company-brc {
        width: 78px !important;
        height: 77px !important;
        top: 10px !important;
    }
    .container-clients {
        padding-top: 50px !important;
    }
    .Clients-pm .slick-track .img-clients .img-client_slick {
        width: 98px !important;
        height: 98px !important;
    }
    .Clients-pm {
        overflow-y:  hidden !important;
    }
    .client-slick .slick-slide .img-client_slick img {
        width: 45px !important;
    }
    /* Titulos */
    .info-certifications h6 ,.info-new_slick h4,.title-client h4 {
        font-size: 22px !important;
    }
    .info-certifications span ,.info-new_slick h6, .certifications-companies h6.companies-title, .certifications-companies h6.companies-title_second{
        font-size: 16px !important;
    }
    .info-certifications p ,.info-new_slick p{
        font-size: 12px !important;
    }
}