.Header-pm {
    width: 100%;
    background: #FFFFFF;
    height: 78px;
    z-index: 1024;
    box-shadow: 0px 4px 30px rgba(172, 172, 172, 0.15);
}

.Container-header_pm {
    position: relative;
    max-width: 1840px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(15, 1fr);
}

.phones {
    display: flex;
    position: relative;
    padding: 10px;
    color: #4D4D4C;
    grid-column: 5/15;
    font-family: 'Amble';
    font-size: 14px;
    justify-content: flex-end;
}

.phones .icon {
    margin-right: 10px;
}

.Container-header_pm .Logo-pm{
    display: flex;
    justify-content: center;
    grid-column: 1/3;
}

.Container-header_pm .Nav-pm {
    grid-column: 3/12;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.Container-header_pm .Nav-pm ul{
    display: flex;
    list-style: none;
}

.Container-header_pm .Nav-pm ul li{
    margin-left: 34px;
}

.Container-header_pm .Nav-pm ul li a{
    font-size: 14px;
    color: #4D4D4C;
    font-family: 'Amble-Light';
}

.Container-header_pm .Options-pm_qe {
    grid-column: 12/16;
    display: flex;
    justify-content: center;
    position: relative;
    top: 5px;
}

.Container-header_pm .Options-pm_qe .Quote-btn {
    margin-right: 20px;
}

.Container-header_pm .Options-pm_qe .Ecommerce-btn button {
    background: #009FE3;
    border-radius: 30px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    cursor: pointer;
    font-family: 'Amble';
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
}

.Container-header_pm .Options-pm_qe .Ecommerce-btn button svg{
    margin-right: 10px;
}

.Nav-pm ul li {
    position: relative;
    z-index: 1;
}

.Nav-pm ul li a {
    text-decoration: none;
}

.Nav-pm ul li a.active {
    color: #8DB72E;
    border-bottom: 2px solid #8DB72E;
    font-family: 'Amble-bold';
    padding-bottom: 25px;
    transition: 2s
}

.select-sim {
    vertical-align:middle;
    position:relative;
    border: 1px solid #4D4D4C;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 13px 65px 0px 15px;
    margin-left: 20px;
    height: 42px;
    font-family: 'Amble-bold';
    color: #4D4D4C;
    font-size: 14px;
  }
  
  .select-sim::after {
    content:"";
    background-image: url('../images/img/arrowselect.png');
    font-size:0.5em;
    font-family:arial;
    position:absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    right: 10px;
    transform:translate(90%, -30%);
  }
  
  
  .select-sim .options .option input {
    width:0;
    height:0;
    overflow:hidden;
    margin:0;
    padding:0;
    display: flex;
    justify-content: flex-start;
    position: absolute;
  }
  
  .select-sim .options .option input:checked + label {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width:50px;
  }

  .select-sim .options .option input:checked + label span{
    margin-left: 10px;
  }

  .Quote-btn {
      position: relative;
  }

@media only screen and (max-width: 1440px) {
    .Container-header_pm .Nav-pm ul li {
        margin-left: 15px;
        margin-right: 15px;
    }
}