/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999999999;
}

.box {
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: auto;
  max-height: 80vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
  z-index: 9999999999;
}

.close-icon {
  content: "x";
  cursor: pointer;
  font-family: 'Amble';
  color: #fff;
  position: fixed;
  right: calc(15% - 55);
  top: calc(100vh - 85vh);
  background: rgb(6, 68, 107);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  border: 1px solid #999;
  font-size: 30px;
  z-index: 9999999999;
}
